<a href="https://colab.research.google.com/github/PranavAtyeti/Python_Assignment/blob/Python_Tasks/File_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import json
import pandas as pd

json_file = 'sample_data.json'

sample_json_data = {
    "employees": [
        {"name": "Alice", "age": 30, "department": "HR"},
        {"name": "Bob", "age": 25, "department": "Engineering"}
    ]
}

with open(json_file, 'w') as file:               #create file
    json.dump(sample_json_data, file, indent=4)

with open(json_file, 'r') as file:    #read file
    data = json.load(file)
    print("JSON Data:", data)

new_employee = {"name": "Vikas", "age": 27, "department": "Marketing"}
data["employees"].append(new_employee)



with open(json_file, 'w') as file:     #update file
    json.dump(data, file, indent=4)

print("Updated JSON Data:", data)

JSON Data: {'employees': [{'name': 'Alice', 'age': 30, 'department': 'HR'}, {'name': 'Bob', 'age': 25, 'department': 'Engineering'}]}
Updated JSON Data: {'employees': [{'name': 'Alice', 'age': 30, 'department': 'HR'}, {'name': 'Bob', 'age': 25, 'department': 'Engineering'}, {'name': 'Vikas', 'age': 27, 'department': 'Marketing'}]}

In [9]:
csv_file = 'sample_data.csv'

sample_csv_data = pd.DataFrame([
    {'Name': 'Alice', 'Employee_ID': 1, 'Salary': 50000, 'Department': 'HR'},
    {'Name': 'Bob', 'Employee_ID': 2, 'Salary': 70000, 'Department': 'Engineering'}
])

sample_csv_data.to_csv(csv_file, index=False) #create file

df = pd.read_csv(csv_file)  #read file
print("CSV Data:")
print(df)

new_data = pd.DataFrame([
    {'Name': 'Ruddhi', 'Employee_ID': 6, 'Salary': 79000, 'Department': 'Devops'},
    {'Name': 'Shruti', 'Employee_ID': 7, 'Salary': 75000, 'Department': 'Devops'}
])

df = pd.concat([df, new_data], ignore_index=True)    #update file

df.to_csv(csv_file, index=False)

print("Updated CSV Data:")
print(df)

CSV Data:
    Name  Employee_ID  Salary   Department
0  Alice            1   50000           HR
1    Bob            2   70000  Engineering
Updated CSV Data:
     Name  Employee_ID  Salary   Department
0   Alice            1   50000           HR
1     Bob            2   70000  Engineering
2  Ruddhi            6   79000       Devops
3  Shruti            7   75000       Devops